@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: #343434; */
    font-family: 'IM Fell English SC', serif;
}

br{
    margin: 2vh;
}

nav{
    z-index: 1;
    position: fixed;
    background-color: #e87a00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vw;
    height: 3vh;
    width: 100%;
    top: 0;
    gap: 20vw;
}

.Header_Logo img{
    width: 11vw;
    /* margin-right: 40vw; */
}

.Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.Menu_Generic{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.Menu_Generic a{
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.Menu_Generic a:hover{
    color: white;
    transition: 0.3s;
}

.Menu_Button button{
    font-size: 1.4vw;
    text-decoration: none;
    color: white;
    border-radius: 1vw;
    padding: 1vw 1vw;
    background-color: #9D3E2A;
    border:none;
    transition: 0.3s;
}

.Menu_Button button:hover{
    color: black;
    background-color: #C9C9C9;
    transition: 0.3s;
}

.Header nav .Menu{
    margin-left: 40vw;
}

main{
    background-color: #343434;
    padding-top: 6vh;
    padding-bottom: 15vh;
}

.Intro{
    margin-top: 3vh;
    text-align: center;
}

.Intro h1{
    color: white;
    font-size: 3vw;
    margin-bottom: 2vh;
}

.Intro1{
    margin-top: 20vh;
}

.Intro2{
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.Intro h2{
    font-size: 2vw;
}

.Orange_Intro h1{
    color: #E87A00;
}

.Form{
    margin-top: 10vh;
    margin-left: 10vw;
}

.Form label{
    font-size: 1.5vw;
    margin-right: 2vw;
}

.Form input{
    color: black;
    font-size: 1.4vw; 
    border-radius: 2vw;
    transition: 0.3s;
}

.Form input:hover{
    background-color: #CFCFCF;
    transition: 0.3s;
}

.Form textarea{
    color: black;
    font-size: 1.4vw;
    border-radius: 2vw;
    transition: 0.3s;
}

.Form textarea:hover{
    background-color: #CFCFCF;
    transition: 0.3s;
}

.Gender-Input {
    display: flex;
    flex-direction: row;
}

.Gender-Input label{
    margin-right: 2vw;
}

.Opt{
    display: flex;
    flex-direction: row;
}

.Opt label{
    margin-right: 2vw;
}

.Opt input{
    width: 2vw;
    height: 2vh;
}

.Address-Input{
    display: flex;
    flex-direction: row;
}

#Name-Box, #Email-Box, #Address-Box{
    width: 72vw;
    height: 5vh;
    padding: 1vw;
}

#Address-Box{
    height:15vh;
}

.Newsletter-Input label{
    font-size: 1.2vw;
}

.Newsletter-Input input{
    width: 2vw;
    height: 2vh;
}

.Form h1{
    color: white;
    font-size: 2vw;
    transition: 0.3s;
}

#Submit-Button{
    background-color: #9D3E2A;
    color: white;
    font-size: 1.5vw;
    padding: 2vh 3vw;
    border-radius: 1vw;
    display: block;
    text-align: center;
    margin-left: 32.5vw;
    margin-top: 3vh;
    transition: 0.3s;
}

#Submit-Button:hover{
    color: black;
    background-color: #C9C9C9;
    transition: 0.3s;
}

.Line{
    padding: 0.5vw;
    background-color: #9D3E2A;
}

.Footer{
    background-color: #e87a00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 1vw;
    padding-top: 1vw;
}

.Footer h4{
    color:black;
}

.Footer_Address{
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

.Footer_Logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    align-items: center;
}

.Footer_Logo img{
    width: 13vw;
    margin-bottom: 5vh;
}

.Footer_Logo h4{
    font-size: 1.2vw;
    width: 30vw;
}

.Footer_Info{
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    font-size: 1.8vw;
    margin-bottom: 3vh;
}

.Footer_Sosmed{
    display: flex;
    flex-direction: row;
}

.Footer_Sosmed img{
    width: 3vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    transition: 0.3s;
}

.Sosmed_Logo{
    position: relative;
    display: inline-block;
    align-items: center;
}

.Sosmed_Logo .Hover{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    transition: 0.3s;
    align-items: center;
}

.Sosmed_Logo .Hover:hover{
    opacity: 1;
}

@media screen and (max-width: 800px){
    main{
        padding-top: 1vh;
        padding-bottom: 5vh;
    }
    .Form label{
        font-size: 1.8vw;
    }
    .Intro h1{
        font-size: 4vw;
    }
    .Intro h2{
        font-size: 3vw;
    }
    .Form h1{
        font-size: 3vw;
    }
    .Form textarea, .Form input{
        font-size: 2vw;
    }
    .Footer_Logo{
        margin-top: 4vh;
    }
    .Footer_Logo h4{
        font-size: 1.5vw;
    }
    .Footer_Address h4{
        font-size: 1.7vw;
    }
    .Footer_Logo img{
        width: 13vw;
        margin-bottom: 3vh;
    }
    .Footer_Info{
        margin-top: 24vh;
    }
}
